.container {
  display: grid;
  justify-content: center;
  gap: 50px;
}

.content {
  display: grid;
  gap: 10px;
  justify-self: center;
  width: 80vw;
}

.branch {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 575px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ef233c;
  border: 1px solid #e5383b;
  border-radius: 15px;
}

.address-time {
  display: grid;
}

.address {
  font-weight: 500;
}

.time {
  font-size: 14px;
  opacity: 0.7;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.whatsapp {
  color: #55a630;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  color: #0077b6;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {

}